.icon {
    float: left;
    padding: 0px 2px;
}

.icon-trash {
    color: red;
    padding: 0rem;
}

.icon-doc {
    color: green;
    padding: 0rem;
}

.icon-pencil {
    color: blue;
    padding: 0rem;
}

tr.dane {
    transition: transform 750ms;
}

tr.dane:hover {
    background-color: rgb(210, 125, 244, 0.6);
    /*transform: translateX(+30px);*/
}

.icons {
    width: 120px;
}

.tablePage {
    margin-top: 15px;
    border: 1px solid #8739AC;
}

.trHeader {
    background-color: #8739AC;
    color: white;
}

#paginesBtn{
    margin-bottom: 10px;
}