@{
    ViewData["Title"] = "Zajęcia";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/StaticFiles/Schedule/scheduleStyle.css" rel="stylesheet" />


<div id="zajTeoretyczne" style="display: none;">
    <h5>Zajęcia teoretyczne</h5>
</div>


<div id="zajPraktyczne">
    <div style="float: left; width: 100%; background-color: #65078a; color: white; font-weight: bold; margin-bottom:20px;">
        <div style="float:left; padding:3px 0 0 5px;"><h4>ZAJĘCIA PRAKTYCZNE</h4></div>
        <!--<div style="float: right;"><a class="nav-link text-light" asp-controller="Vehicle" asp-action="AddVehicle">+ Dodaj pojazd</a></div>-->
    </div> 

    <div class="card">
        <div class="form-inline card-header" style="align-items: center;">
            <div class="col-sm-2">
                <button class="btn btn-outline-primary " id="previous" onclick="previous()"><i style="font-size:12px;" class="icon-left-open"></i></button>
                <button class="btn btn-outline-primary " id="previous" onclick="now()"><i style="font-size:12px;" class="icon-record"></i></button>
                <button class="btn btn-outline-primary " id="next" onclick="next()"><i style="font-size:12px;" class="icon-right-open"></i></button>
            </div>
            <h3 class=" col-sm-8" style="text-align:center;" id="monthAndYear"></h3>
            <input id="selectCallendar" class="form-control col-sm-2" type="date" min="2020-01-01" />
        </div>

        <div id="practicalTableOfDay" style="overflow: auto;"></div>
        <div id="practicalOnDay" style="overflow: auto;"></div>

    </div>

    <!-- PRACTICAL FOR CANCEL -->

    <div class="row breadcrumb" style="margin: 20px 0 0 0">
        <div style="float: left; margin-right:auto;">
            Zajęcia do odwołania
        </div>
        <div style="float: right; margin-left: auto;">
            <button id="showPracticalCancelBtn" type="button" class="btn btn-primary btn-sm" style="display: block; float: left; margin-left:5px;">Pokaż</button>
            <button id="hiddenPracticalCancelBtn" type="button" class="btn btn-primary btn-sm" style="display: none; float: left; margin-left: 5px; ">Ukryj</button>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="practicalCancel" class="row breadcrumb" style="display: none; margin: 20px 0 0 0;">
        <div>
            <table class="table table-light" id="cancelPracticalTable">
                <tr class="trHeader" id="cancelPracHeader">
                    <th>Nr</th>
                    <th>Data</th>
                    <th>Godzina</th> 
                    <th>Kursant</th>
                    <th>Instruktor</th>
                    <th>Kategoria</th>
                    <th>Akceptuj / Odrzuć</th>
                </tr>
            </table>
        </div>
    </div>

    <!-- ADD PRACTICAL MODAL -->

    <div id="addPracticalModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Dodaj jazdę</h3>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div>
                    <table id="practicalDataTable" class="table table-light">
                        <tr>
                            <th>Data</th>
                            <td id="plannedDate"></td>
                        </tr>
                        <tr>
                            <th>Godz. rozp.</th>
                            <td id="plannedStartTime"></td>
                        </tr>
                        <tr>
                            <th>Kursant</th>
                            <td id="planedStudent"><select class="form-control col-sm-10" id="studentSelect" name="kursantTxt"></select></td>
                        </tr>
                        <tr>
                            <th>Instruktor</th>
                            <td id="planedEmployee"><select class="form-control col-sm-10" id="employeeSelect" name="instruktorTxt"></select></td>
                        </tr>
                    </table>
                    <button id="addPracticalDataBtn" type="button" class="btn btn-success" style="margin-bottom: 10px;">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DETAIL PRACTICAL MODAL -->

    <div id="practicalDataModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Szczegóły zajęć praktycznych</h3>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div>
                    <span id="PracticID" hidden></span>
                    <table id="practicalDataTable" class="table table-light">
                        <tr>
                            <th>Data</th>
                            <td id="date"></td>
                        </tr>
                        <tr>
                            <th>Godz. rozp.</th>
                            <td id="startTime"></td>
                        </tr>
                        <tr>
                            <th>Godz. zak.</th>
                            <td id="endTime"><input type="time" /></td>
                        </tr>
                        <tr>
                            <th>Kursant</th>
                            <td id="student"></td>
                        </tr>
                        <tr>
                            <th>Instruktor</th>
                            <td id="employee"></td>
                        </tr>
                        <tr>
                            <th>Przebieg [km]</th>
                            <td id="course"><input class="form-control col-sm-3" type="number" min="0" /></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                                <select id="practicalStatus" class="form-control col-sm-4">
                                    <option value="1">Zaplanowany</option>
                                    <option value="2">Zrealizowany</option>
                                    <option value="3">Odwołane</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <button id="savePracticalDataBtn" type="button" class="btn btn-success" style="margin-bottom: 10px;">Edytuj</button>
                    <button id="removePracticalDataBtn" type="button" class="btn btn-danger" style="margin-bottom: 10px;">Usuń</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.6.0.js"></script>

    <style>
        #calendar td {
            cursor: pointer;
        }

        #calendar td:hover {
            background-color: #CCC;
        }

        #test123 table {
            margin: 20px;
        }

        #test123 table, #test123 tr, #test123 td {
            border: 1px solid #000;
            padding: 2px 6px;
        }

        #test123 .aa {
            cursor: pointer;
        }

        #test123 .a:hover {
            background-color: #BBB;
        }

        #ramka {
            border: 1px solid #000;
        }

        #t {
            width: 100px;
            height: 30px;
            position: relative;
        }

        #t1,
        #t2 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #t2 {
            z-index: 10;
        }

        .aa:hover {
            background-color: #9f9c9c;
        }
    </style>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <script src="~/StaticFiles/test.js"></script>

</div>

<script src="~/StaticFiles/Schedule/cancelPractical.js"></script>
<script src="~/StaticFiles/Schedule/schedule.js"></script>

