@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Zajęcia";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div id="zajTeoretyczne" style="display: none;">
    <h5>Zajęcia teoretyczne</h5>

</div>

<div id="zajPraktyczne">
    <h5>Zajęcia praktyczne</h5>

    <div class="card">
        <div class="form-inline" style="align-items: center;">
            <button class="btn btn-outline-primary col-sm-2" id="previous" onclick="previous()"><-</button>
            <h3 class="card-header col-sm-8" style="text-align:center;" id="monthAndYear"></h3>
            <button class="btn btn-outline-primary col-sm-2" id="next" onclick="next()">-></button>
            <input id="selectCallendar" class="form-control" style="float:left;" type="date" min="2020-01-01" />
        </div>

        <table class="table table-bordered table-responsive-sm" id="calendar">
            <thead id="dayOfWeek">
                <tr>
                    <th>Nie</th>
                    <th>Pon</th>
                    <th>Wto</th>
                    <th>Śro</th>
                    <th>Czw</th>
                    <th>Pi</th>
                    <th>Sob</th>
                </tr>
            </thead>

            <tbody id="calendar-body">
            </tbody>


        </table>
        <div id="test123"></div>


        <br />
        <!--<form class="form-inline">-->

        <div class="form-inline">
            <label class="lead mr-2 ml-2" for="month">Idź do: </label>
            <select class="form-control" name="month" id="month" onchange="jump()">
                <option value=0>Styczeń</option>
                <option value=1>Luty</option>
                <option value=2>Marzec</option>
                <option value=3>Kwiecień</option>
                <option value=4>Maj</option>
                <option value=5>Czerwiec</option>
                <option value=6>Lipiec</option>
                <option value=7>Sierpień</option>
                <option value=8>Wrzesień</option>
                <option value=9>Październik</option>
                <option value=10>Listopad</option>
                <option value=11>Grudzień</option>
            </select>


            <label for="year"></label><select class="form-control" name="year" id="year" onchange="jump()">
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
                <option value=2031>2031</option>
                <option value=2032>2032</option>
                <option value=2033>2033</option>
                <option value=2034>2034</option>
                <option value=2035>2035</option>
                <option value=2036>2036</option>
                <option value=2037>2037</option>
                <option value=2038>2038</option>
                <option value=2039>2039</option>
                <option value=2040>2040</option>
            </select>
        </div>

    </div>

    <div>
        <div id="szczegolyZaj"></div>
    </div>

    <script src="~/Scripts/jquery-3.6.0.js"></script>

    <style>
        #calendar td {
            cursor: pointer;
        }

            #calendar td:hover {
                background-color: #CCC;
            }

        #test123 table {
            margin: 20px;
        }

        #test123 table, #test123 tr, #test123 td {
            border: 1px solid #000;
            padding: 2px 6px;
        }

        #test123 .aa {
            cursor: pointer;
        }

        #test123 .a:hover {
            background-color: #BBB;
        }

        #ramka {
            border: 1px solid #000;
        }

        #t {
            width: 100px;
            height: 30px;
            position: relative;
        }

        #t1,
        #t2 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #t2 {
            z-index: 10;
        }

        .aa:hover {
            background-color: #9f9c9c;
        }
    </style>

    <script src="~/StaticFiles/calendar3.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <script src="~/StaticFiles/test.js"></script>

</div>

<!--<script src="~/StaticFiles/Schedule/schedule.js"></script>-->