@{
    ViewData["Title"] = "Strona główna";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/StaticFiles/Home/mainMenuStyle.css" rel="stylesheet" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="menuButtons">
    <div style="width:80%; margin:auto;">
        <a id="studentBtn" asp-controller="Student" asp-action="GetStudents" class="itemMenu"><i class="fontello icon-group"></i> <br /> <span class="category">Kursanci</span></a>
        <a id="employeeBtn" asp-controller="Employee" asp-action="GetEmployees" class="itemMenu"><i class="fontello icon-briefcase"></i> <br /> <span class="category">Pracownicy</span></a>
        <a id="vehicleBtn" asp-area="" asp-controller="Vehicle" asp-action="GetVehicles" class="itemMenu"><i class="fontello icon-cab"></i><br /> <span class="category">Pojazdy</span></a>
        <a id="calendarBtn" asp-controller="Shedule" asp-action="Shedules2" class="itemMenu"><i class="fontello icon-calendar"></i> <br /> <span class="category">Harmonogram</span></a>
        <a id="courseBtn" asp-controller="Course" asp-action="GetCourses" class="itemMenu"><i class='fontawesome fas fa-chalkboard-teacher'></i> <br /> <span class="category">Kursy</span></a>
        <a id="paymentBtn" asp-controller="Payment" asp-action="GetPayments" class="itemMenu"><i style="font-size:70px;" class="fontawesome fa fa-money"></i> <br /> <span class="category">Wpłaty</span></a>
        <a id="settingBtn" asp-controller="Settings" asp-action="Index" class="itemMenu"><i class="fontello icon-cog"></i> <br /> <span class="category">Ustawienia</span></a>
        <div style="clear:both;"></div>
    </div>
</div>