@{
    ViewData["Title"] = "Strona główna";
}

<link href="~/StaticFiles/Home/homeStyle.css" rel="stylesheet" />

<div id="mainDiv" class="text-center"></div>
<div class="bg-text">
    <h3 id="osk" class="display-4">
        Przyjazne, proste, przejrzyste <br />
        Oprogramowanie do zarządzania Twoją szkołą jazdy <br />
    </h3>
</div>
 