@model OSK_App.Entities.Employee;

@{
    ViewData["Title"] = "Logowanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/StaticFiles/Home/loginStyle.css" rel="stylesheet" />

<div id="mainDiv" class="text-center"></div>

<div id="loginText" class="bg-text"><h1>Zaloguj się do panelu</h1></div>

<div id="loginPanel" class="bg-text col-md-4">
    <form asp-action="Login">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>Login</label>
            <input asp-for="User.UserName" class="form-control" />
            <span asp-validation-for="User.UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Hasło</label>
            <input type="password" asp-for="User.Password" class="form-control" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>

        <div id="errorMessage">@ViewBag.Error</div>

        <div>
            <input type="submit" value="Zaloguj" class="btn btn-primary" />
        </div>

    </form>
</div>

<script src="~/StaticFiles/Home/loginResult.js"></script>
